
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="#">Login</a>
      <a class="navbar-brand" href="#">Register</a>
    </div>
  </nav>

  <h1 class="company-name">Find My City</h1>

<div class="search-bar">
  <div class="container" class="">
    <h3>Your next chapter awaits</h3>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search by city name" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

 <img src="https://cdn.pixabay.com/photo/2018/12/10/16/22/city-3867295_960_720.png" alt="" class="welcome-page-image">
