
<div class="company-slogan" style=''>
  <h1 class="company-name">Find My City</h1>
  <h4>Your next chapter awaits</h4>
</div>

<!-- <div class="welcome-box">

</div> -->

<div class="welcome-box">
  <div class="welcome-page-text">
    <h5  style="margin-left: 4%; margin-bottom: 5px;">Find the city that’s right for you:</h5>
    <ul>
      <li>Search for Cities</li>
      <li>See Cities with Scores</li>
      <li>Search and Save Your Favorite Cities</li>
      <li>Compare Your Favorite Cities</li>
      <li>Pick The Best City For You and Your Loved Ones</li>
    </ul>
  </div>
</div>


  <img src="https://images.pexels.com/photos/447440/summer-sun-sunset-yellow-447440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="welcome-page-image">
