
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="#">Login</a>
      <a class="navbar-brand" href="#">Register</a>
    </div>
  </nav>

<div class="container">
  <form class="d-flex" class="search-bar-z-index">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
 <!-- <img src="https://cdn-bmalj.nitrocdn.com/uirOOtSrYrqqUksKHkiSCjZGZlPeXsmk/assets/static/source/rev-0404f4f/images/best-city-skylines-hong-kong.jpg" alt="" class="welcome-page-image"> -->
