
<div class="company-slogan" style=''>
  <h1 class="company-name">Find My City</h1>
  <h4>Your next chapter awaits</h4>
</div>


  <img src="https://images.pexels.com/photos/447440/summer-sun-sunset-yellow-447440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="welcome-page-image">


