@import "bootstrap";


.welcome-page-image{
  position:fixed;
  bottom:0px;
  width: 100%;
  // position: fixed;
}

.search-bar{
  margin-top: 15%;
  z-index: 2;
  position: relative;
}


.company-name{
  text-align: center;
  margin-top: 10%;
  font-family: fantasy;
  font-size: 50px;
}
