@import "bootstrap";

.welcome-page-image{
  width: 100%;
  bottom: 0%;
  position: fixed;
  z-index:-2;
  opacity: 0.75
}

.search-bar{
  margin-top: 5%;
  z-index: 2;
  position: relative;
}

.company-name{
  text-align: center;
  margin-top: 10%;
  font-family: sans-serif;
  font-size: 60px;
}
